* {
	margin: 0px;
}
html, body {
	height: 100%;
}

/*Home Picture in Navigation bar */
ul.nav.navbar-nav li a img {
    height: 3em;
}

/*Contact info*/
div.btn-group.dropup.footer {
	position: fixed;
	bottom: 0px;
	left: 50%;
	opacity: 0.6;
}
div.btn-group.dropup.footer:hover {
	opacity: 1;	
}

