<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Nate Davis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href=stylesheet.css>
</head>
<body>
	  <!--Main navigation bar -->
	<!-- dark colored and stays at top -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
        	<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
      </div>
      <div class="collapse navbar-collapse" id="topNavBar">
        <ul class="nav navbar-nav">
          <li class="active"><a href='index.html'><img src='https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/1/005/045/026/19f26a5.jpg' alt='Nate Davis'/></a></li>
          <li><a href='#'>My Story</a></li>
          <li><a href='#'>CV</a></li>
          <li><a href='influences.html'>Influences</a></li>
          <li><a href='#'>Blog</a></li>
					<li><button type="button" class="btn btn-default search-toggle">
							<span class='glyphicon glyphicon-search'></span>
					</button></li>
        </ul>
      </div>
    </div>
  </nav>
	<!--Blog Topic Navigation-->
	<div class="navbar navbar-left">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topicNavBar">
					<span class="glyphicon glyphicon-th-list glyphicon-align-left" aria-hidden="true"></span>
					Topics
				</button>
			</div>
			<div class="collapse navbar-collapse" id="topicNavBar">
				<ul>
					<li>Topic 1</li>
					<li>Topic 2</li>
					<li>Topic 3</li>
					<li>Topic 4</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- Begin Contact Information -->
	<div class="btn-group dropup footer">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> 
			Contact Info
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li>email</li>
			<li>mobile phone</li>
			<li>office phone</li>
		</ul>
	</div>
</body>
</html>