<!--Begin Page content -->
<div id="mainCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
        <li data-target="mainCarousel" data-slide-to="1"></li>
        <li data-target="mainCarousel" data-slide-to="2"></li>
        <li data-target="mainCarousel" data-slide-to="3"></li>
    </ol>
    <!--Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active jumbotron">
            <!--Welcome Message -->
                <img src="http://fc09.deviantart.net/fs70/i/2012/079/5/7/creation_of_adam_in_the_21st_century_by_fishsnack-d4n0446.jpg" alt="My Vision"/>
                <h1>My Goal and Promise</h1>
                <p>I hope for a futue where intelligent computers expand humanities reach. Access to these computers is ubiquitious and the safety and liberty of every life is preserved.</p>
        </div>
        <!--First most recent content-->
        <div class="item jumbotron">
            <p>This will contain images of the most recent content posted on any pages of the website</p>
        </div>
        <div class="item jumbotron">
            <p>And it will scroll through it.</p>
        </div>
        <div class="item jumbotron">
            <p>The only question is how much more recent content do you want?</p>
        </div>
    </div>
    <!-- Left and Right Controls -->
    <a class="left carousel-control" href="#mainCarousel" role="button" data-slide="previous">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#mainCarousel" role="button">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>